@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --background: #f8f7fa;
  --foreground: #444050;
  --primary: #0469f4;
  --font-primary: "Rubik", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
@theme {
  --shadow-soft: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  --shadow-card: 0 0.1875rem 0.75rem 0 rgba(47, 43, 61, 0.14);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f8f7fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
